body {
    margin: 0px;
    background-color: white;
    font-family: Arial;
    background-image: url(images/Asset6.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;    
    background-attachment: fixed;
    
}

header {
    margin: 20px;
    background-color: white;
}

#sideBarMain {
    margin: 0;
    padding: 0px 20px;
    float: left;
    width: 500px;
}

#sideBarMain~p {
    text-shadow:1px 0px;
}

#sideBarMain a:link {
    color: black;   
}

#emailUs {
    width: 600px;
    height: 150px 
}

aside {
    margin: 50px 50px 50px;
    width: 650px;
    height: 200px;
    float: right;
    text-shadow:1px 0px;
}

#reviewImages{
    margin: 0;
    padding: 0px 20px;
    float: left;
    width: 500px;
}

nav {
    margin: 0px;
    background-color: black;
    
}

footer {
    color: white;
    background-color: black;
    clear:both;
}

h3 {
    color: white;
    background-color: black;
    text-indent: 40px;
}

p {
    margin: 60px;
}

a:link {
    color: white;
}

a:hover {
    color: white;
}

a:visited {
    color: white;
}

#submission {
    background-color: rgb(153, 244, 198);
    font-size: 100%;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

table {
    background-color: darkgray;
    
}

.center {
    text-align: center;
    color:rgb(100, 100, 100);
    text-shadow:1px 1px;
    
}

ul {
    margin-left:70px;
    margin-right:70px;
}

#demo1 {
    color:rgb(82, 82, 82);
    margin-left:150px;
    margin-right: 150px;
}

#demo2 {
    color:rgb(82, 82, 82);
    margin-left:150px;
    margin-right: 150px;
}

#demo3 {
    color:rgb(82, 82, 82);
    margin-left:150px;
    margin-right: 150px;
}

#submitQuote {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
#submitButton {
    color: white;
    background-color: black;
}

span {
    color: red;
}

